
main {
    width: 100vw;
    height: 400vh;
}
.main-bmw__section{
    background-image: url(https://www.hdwallpapers.in/download/bmw_x5_xdrive30d_m_sport_2018_4k_jpeg-HD.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding-top: 70px;

}

